.big-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 320px;
}

.box{
border: solid black 1.4px;
border-radius: 7px;
margin-top: 10px;
}

.up{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

.container{
    display: flex;
    width: 320px;
    height: 320px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1px;
}

.grid{
    background-color: rgb(243, 243, 243);
}